@font-face {
  font-family: 'Arsenal';
  src: url("../fonts/ArsenalRegular.woff") format("woff"), url("../fonts/ArsenalRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arsenal';
  src: url("../fonts/ArsenalBold.woff") format("woff"), url("../fonts/ArsenalBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: Arsenal, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #515151;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  max-width: 1030px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

header {
  -webkit-box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
  background-color: #fefefe;
}

.header__menu li {
  display: inline-block;
}

header a {
  text-decoration: none;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 119px;
}

.header__contacts {
  max-width: 185px;
  text-align: right;
}

.tm {
  background-color: #000056;
  width: 100%;
  margin: auto;
}

.tm li {
  display: inline-block;
}

.rent {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_block {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.item {
  width: 270px;
  min-height: 300px;
  background-color: #f6f6f6;
  margin: 0 32px 186px 0;
}

.item_img img {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item33 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item44 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202320;
  height: 100px;
  width: 100%;
  margin: auto;
}

.about_rent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_rent1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_rent2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  min-height: 119px;
  -webkit-box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
  background-color: #fefefe;
}

.header__logo {
  max-width: 276px;
  width: 100%;
}

.header__menu {
  max-width: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__menu a {
  color: #515151;
  font-size: 18px;
  line-height: 60px;
}
.header__menu .li1 {
  color: #000056;
  border-bottom: solid rgba(0, 0, 56, 0.15);
}

.header__menu a:hover {
  color: #000056;
  border-bottom: 1px solid rgba(0, 0, 56, 0.15);
}

.contacts__phone {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.contacts__mail {
  color: #000056;
  font-size: 18px;
}

.contacts__callback {
  background: transparent;
  border: transparent;
  outline: none;
  color: #000000;
  font-size: 14px;
}
.contacts__callback:hover {
  border-bottom: 1px solid rgba(187, 187, 187, 0.31);
}

.phone_ico {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: url(../img/phone-call.png);
}

.tm {
  width: 1800px;
  height: 30px;
  background-color: #000056;
}

.tm a {
  background-color: #ffffff;
  border-color: #000056;
}

h3 {
  color: #515151;
  font-size: 20px;
  font-weight: 700;
}

.item_text {
  padding: 20px 35px 20px 20px;
}
.item_text h3 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 14px;
  margin-bottom: 19px;
}
.item_text li {
  text-transform: uppercase;
  list-style-type: none;
}
.item_text li a {
  border-bottom: 1px solid #e5e5e5;
  text-decoration: none;
  color: #000056;
  font-size: 14px;
  font-weight: 700;
}

.rent span {
  width: 519px;
  height: 26px;
  color: #515151;
  font-family: Arsenal;
  font-size: 30px;
  font-weight: 700;
  line-height: 39.21px;
  text-transform: uppercase;
}

.about_rent2
h5 {
  font-family: "Arsenal - Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}

.about_rent
h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}

.h3_1 {
  font-family: "Arsenal - Bold";
  font-weight: 700;
  line-height: 24px;
}

.about_rent1
h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}

.about_rent2
h5 {
  font-family: "Arsenal - Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */