@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/ArsenalRegular.woff') format('woff'), url('../fonts/ArsenalRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/ArsenalBold.woff') format('woff'), url('../fonts/ArsenalBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
