header {
    min-height: 119px;
    box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
    background-color: #fefefe;
  }
  
  .header__logo {
    max-width: 276px;
    width: 100%;
  }
  
  .header__menu {
    max-width: 570px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      color: #515151;
      font-size: 18px;
      line-height: 60px;
    }
        .li1{
            color: #000056;
    border-bottom: 1px solid rgba(0, 0, 56, 0.15); 
    }
  }
  
  .header__menu a:hover {
    color: #000056;
    border-bottom: 1px solid rgba(0, 0, 56, 0.15);
  }
  
  .contacts__phone {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
  }
  .contacts__mail {
    color: #000056;
    font-size: 18px;
  }
  
  .contacts__callback {
    background: transparent;
    border: transparent;
    outline: none;
    color: #000000;
    font-size: 14px;
    &:hover {
      border-bottom: 1px solid rgba(187, 187, 187, 0.31);
    }
  }
  
  .phone_ico {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background: url(../img/phone-call.png);
  }
  .tm{
    width: 1800px;
    height: 30px;
background-color: #000056;
  }
  a{
background-color: #ffffff;;
  }
  h3 {
    color: rgb(81, 81, 81);
    font-size: 20px;
    font-weight: 700;
  }
  .item_text {
    padding: 20px 35px 20px 20px;
    h3 {
      border-bottom: 1px solid rgb(229, 229, 229);
      padding-bottom: 14px;
      margin-bottom: 19px;
    }
    li {
      text-transform: uppercase;
      list-style-type: none;
      a {
        border-bottom: 1px solid rgb(229, 229, 229);
        text-decoration: none;
        color: rgb(0, 0, 86);
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
  .about_rent2
  h5{
    font-family: "Arsenal - Bold";
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
  }
  .about_rent
  h3{
    width: 1168px;
    height: 714px;
    color: #515151;
    font-family: Arsenal;
    font-size: 16px;
    font-weight: 400;
  }
  .h3_1{
    font-family: "Arsenal - Bold";
    font-weight: 700;
    line-height: 24px;
  }
  .about_rent1
  h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
  }