html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrap {
  flex: 1 0 auto;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
.content {
    box-sizing: border-box;
    position: relative;
    max-width: 1030px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
  }
  header{
    box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
    background-color: #fefefe;
  }
  
  .header__menu li {
    display: inline-block;
  }
  header a {
    text-decoration: none;
  }
  
  header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 119px;
  }
  .header__contacts {
    max-width: 185px;
    text-align: right;
  }
  .tm{
    background-color: #000056;
    width:100%;
    margin: auto;
  }
  .tm li{
    display: inline-block;
  }
.rent{
  display:inline;
  justify-content: center;
}
  .item_block{
       width:auto;
      display: flex;
      flex-direction:column;
      overflow: hidden;
  }
    .item{
       width: 270px;
       min-height: 300px;
        background-color: #f6f6f6; 
        margin: 0 32px 186px 0; 
    }
    .item_img img{
       width: auto;
       height: auto;
       display: flex;
        justify-content: center;
        align-items: center; 
     }
    .item33{
      display:flex;

    }
    .item44{
      display:flex;
    }
  
  .content_footer{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #202320;
    height: 100px;
    width: 100%;
    margin: auto;
  }
  .about_rent{
    align-items: center;
  }
  .about_rent1{
    align-items: center;
  }
  .about_rent2{
    align-items: center;
  }